/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.04.2015, 16:33:35
    Author     : dobipesheva
*/
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif; 
                font-size: 16px;
                background-color: #f8f8f8;
            }
            header {
                margin-left: 160px;
                width: 960px;
                height: 150px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );
            }             
            ul > li {
                display: inline-block;
                text-shadow: 2px;
                box-sizing: content-box;
                font-weight: bold;
                margin-left: 8px;
            }
            a {
                text-decoration: none;
            }
            h1 {
                padding-left: 300px;
                padding-top: 30px;
            }
            nav {
                padding-left: 120px;
            }
            section {
                width: 945px;
                height: 350px;
                margin-left: 160px;
                margin-top: 35px;
                padding-left: 15px;
                padding-top: 10px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );

            }
            footer {
                font-family: Brush Script MT;
                margin-left: 160px;
                width: 950px;
                height: 45px;
                padding-left: 15px;
                padding-top: 5px;
                margin-top: 19px;
                border-radius: 10px 0 10px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );

            }
            img {
                margin-left: 45px;
                float: left;
                border-radius: 15px 0 15px 0;
            }
            h2 {
                margin-left: 320px;
                font-size: 14px;
            }
            section > p {
                margin-left: 305px;
            }
            .menu {
                width: 960px;
                height: 400px;
                margin-left: 160px;
                margin-top: 30px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );

            }
            .last-role {
                font-size: 10px;
            }
            td {
                border-bottom: 1px solid gray;
            }
            .program {
                width: 960px;
                height: 400px;
                margin-left: 160px;
                margin-top: 30px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );

            }
            td {
                border-bottom: 1px solid gray;
            }
            #adds {
                padding-left: 300px;
            }
            #map-canvas {
                width: 700px;
                height: 300px;
                margin-left: 120px;
                
            }
            .contacts {
                padding: 165px;
                width: 940px;
                height: 500px;
                margin-left: 160px;
                margin-top: 30px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );

            }
            div > p {
                padding-left: 35px;
                padding-top: 35px;
            }
            .entry-content {
                padding: 165px;
                width: 940px;
                height: 700px;
                margin-left: 160px;
                margin-top: 30px;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );
 
            }
            .galery {
                padding: 165px;
                width: 860px;
                height: 480px;
                margin-left: 160px;
                margin-top: 30px;
                padding-left: 90px;
                padding-top: 50px;
                padding-bottom: 10px;
                padding-right: 10px;
                border-radius: 20px 0 20px 0;
                background: #f9accc;
                background: -moz-linear-gradient(-45deg,  #f9accc 0%, #f7aff7 12%, #ada6fc 27%, #a3edf7 42%, #92fc97 58%, #f2f99f 77%, #f7ad96 96%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9accc), color-stop(12%,#f7aff7), color-stop(27%,#ada6fc), color-stop(42%,#a3edf7), color-stop(58%,#92fc97), color-stop(77%,#f2f99f), color-stop(96%,#f7ad96));
                background: -webkit-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -o-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: -ms-linear-gradient(-45deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                background: linear-gradient(135deg,  #f9accc 0%,#f7aff7 12%,#ada6fc 27%,#a3edf7 42%,#92fc97 58%,#f2f99f 77%,#f7ad96 96%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9accc', endColorstr='#f7ad96',GradientType=1 );
 
            }
